{{!-- 底部 --}}
<footer>
    <div class="wrapper">
        <div class="footer-content">
            <p>My heart, My words<br />code by Xu Yue<br />
            <span>我的微信公众号--></span></p>
            <div class="wechat-logo">
                <img src="/images/wechat-logo.jpg" alt="">
            </div>
        </div>
    </div>
</footer>