<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/iconfont.css">
</head>
<title>{{title}}</title>

<body>
    {{!-- 导航头部 --}} 
    {{> header }}
    <div class={{title}}>home</div>
</div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/home.bundle.js"></script>
</html>